<div class="container position-relative">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/about-us" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png"
                        alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item hidden_nav_item-active" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item" href="/services">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item nav_item-active" href="/about-us">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Giới Thiệu</h1>
    </div>
    <ul class="content_nav_container">
        <a class="content_nav_item content_nav_item-active">Hình ảnh</a>
        <a class="content_nav_item">
            <li>Thông Điệp Của Giám Đốc</li>
        </a>
        <a class="content_nav_item">
            <li>Phương Châm Kinh Doanh</li>
        </a>
        <a class="content_nav_item">
            <li>Ngành Nghề Kinh Doanh</li>
        </a>
        <a class="content_nav_item">
            <li>Hoạt Động Từ Thiện Xã Hội</li>
        </a>
    </ul>
    <section id="img_section" class="mt-4">
        <h1 class="fs-4 fw-semibold mb-4 title_decoration">
            <p>Hình ảnh</p>
        </h1>
        <div class="img_container">
            <img src="/images/company/about-us.jpg" alt="img" loading="lazy">
        </div>
    </section>
    <section id="director_mess_section" class="mt-4">
        <h1 class="fs-4 fw-semibold mb-4 title_decoration">
            <p>Thông Điệp Của Giám Đốc</p>
        </h1>
        <div class="d-flex g-col-6 director_mess_content">
            <!-- <img src="/images/company/tran-quy.png" alt="director" width="360" loading="lazy"> -->
            <div class="my-4">
                <p class="lh-base fs-18px mb-2">Sau khi được học những kỹ thuật về gia công kim loại tấm ở Việt Nam, tôi
                    có cơ hội đến Nhật Bản làm việc và học tập trong quãng thời gian 12 năm. Tại đây tôi đã cố gắn làm
                    viêc và học tập mỗi ngày. Được tiếp cận những kỹ thuật tiên tiến tại TOYOTA BODY, trung tâm R&D
                    Honda Nhật Bản. Có cơ hội tìm hiểu triết lý “monodukuri “ triết lý về sản xuất nổi tiến của nước
                    Nhật.</p>
                <p class="lh-base fs-18px my-2">Năm 2015 tôi trở về Việt Nam để hiện thực hóa ước mơ của mình, tháng 3
                    năm 2018 Tôi thành lập Công ty TNHH Cơ Khí Nhật Nam chuyên về gia công chế tạo các sản phẩm kim
                    loại. Với phương châm sản xuất: “Kỹ thuật Nhật - Bàn tay Việt” để làm nên những sản phẩm có chất
                    lượng tốt bằng bàn tay người Việt Nam. Bắt đầu là một công ty gia công nhưng chúng tôi hướng tới
                    việc sản xuất một sản phẩm hoàn thiện kỹ thuật cao. Vì vậy việc đào tạo nguồn nhân lực kỹ thuật cao
                    và đầu tư thiết bị hiện đại là rất quan trọng . Hiện tại, chúng tôi có thể sản xuất một sản phẩm kim
                    loại tấm hoàn chỉnh trong nhà máy thông qua các khâu: cắt laser CNC, chấn, dập, hàn robot, sơn tỉnh
                    điện, lắp ráp. Quá trình sản xuất gói gọn trong một nhà máy như vậy sẽ giảm giá thành, nâng cao chất
                    lượng sản phẩm, chủ động được tiến độ sản xuất.điều này chính là chìa khóa quản lý 3 Nhất của chúng
                    tôi < Chất lượng tốt nhất – giá cạnh tranh nhất – tiến độ nhanh nhất> .</p>
                <p class="lh-base fs-18px mt-2">Chúng tôi tiếp tục theo đuổi con đường của một công ty sản xuất<
                        monodukuri ka8sha> Mục tiêu trở thành một công ty từ R&D- thiết kế - sản xuất các sản phẩm mang
                        lại tiện ích - niềm vui cho người sử dụng . Toàn thể nhân viên Cơ Khí Nhật Nam luôn đoàn kết, nỗ
                        lực để cống hiến nhiều hơn cho xã hội.</p>
            </div>
        </div>
    </section>
    <section id="business_philosophy_section" class="mt-4">
        <h1 class="fs-4 fw-semibold mb-4 title_decoration">
            <p>Phương Châm Kinh Doanh</p>
        </h1>
        <div></div>
    </section>
    <section id="business_sector_section" class="mt-4">
        <h1 class="fs-4 fw-semibold mb-4 title_decoration">
            <p>Ngành Nghề Kinh Doanh</p>
        </h1>
        <img class="w-100 h-auto" src="/images/company/business.png" alt="">
        <img class="w-100 h-auto" src="/images/company/business-2.png" alt="">
    </section>
    <section id="social_philanthropy_section" class="mt-4">
        <h1 class="fs-4 fw-semibold mb-4 title_decoration">
            <p>Hoạt Động Từ Thiện Xã Hội</p>
        </h1>
        <img class="w-100 h-auto" src="/images/company/volunteer.png" alt="">
    </section>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 88 Đường Liên Khu 1-2, Tổ 25, Xã Vĩnh Lộc B, Bình Chánh, HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1 footer_nav_item-active" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
        <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
        <ul class="d-flex">
            <a class="text-center" href="/privacy-policy">
                <li>Điều khoản sử dụng</li>
            </a>
            <a class="text-center" href="/privacy-policy">
                <li>Quyền riêng tư</li>
            </a>
            <a class="text-center" href="/privacy-policy">
                <li>Chính sách cookie</li>
            </a>
        </ul>
    </div>
</div>