<div class="container">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/services/lazer-cutting" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png" alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item hidden_nav_item-active" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item" href="/product-showcases/">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item nav_item-active" href="/services">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item" href="/about-us">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Cắt Lazer</h1>
    </div>
    <div class="main_container">
        <div class="side_container">
            <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                <p>Dịch vụ</p>
            </h1>
            <ul class="side_nav">
                <a href="/services/shearing">
                    <li class="side_nav_item" title="Gia Công Khuôn Mẫu Kim Loại">
                        <img src="/images/icons/shearing.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm lh-sm">Gia Công Khuôn Mẫu</p>
                    </li>
                </a>
                <a href="/services/stamping">
                    <li class="side_nav_item" title="Dập">
                        <img src="/images/icons/stamping.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Dập</p>
                    </li>
                </a>
                <a href="/services/cnc-bending">
                    <li class="side_nav_item" title="Chấn CNC">
                        <img src="/images/icons/forming-rolling-1.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Chấn CNC</p>
                    </li>
                </a>
                <a href="/services/lazer-cutting">
                    <li class="side_nav_item side_nav_item-active" title="Cắt Lazer(Ống, Kim Loại Tấm)">
                        <img src="/images/icons/laser-cutting.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Cắt Lazer</p>
                    </li>
                </a>
                <a href="/services/welding">
                    <li class="side_nav_item" title="Hàn">
                        <img src="/images/icons/welding.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Hàn, Hàn Robot</p>
                    </li>
                </a>
                <a href="/services/onsite-mechanical-repair">
                    <li class="side_nav_item" title="Gia Công Cơ Khí, Sửa Chửa Onside">
                        <img src="/images/icons/machining.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Gia Công Cơ Khí, Sửa Chửa Onside</p>
                    </li>
                </a>
            </ul>
            <div id="contact_section">
                <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                    <p>Thông tin doanh nghiệp</p>
                </h1>
                <ul>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <p class="flex-fill p-2">Số 36 Khu Garland - Phước Điền, 72 Dương Đình Hội, Phường Phước Long B,
                            Quận 9, TP.HCM</p>
                    </li>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <p class="flex-fill p-2">0888828825</p>
                    </li>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <p class="flex-fill p-2">cokhinhatnam.info@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_content_container">
            <div id="carousel" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/services/Cắt_Laser_Chấn_CNC.webp" class="d-block w-100" alt="carousel-1">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Cắt_Laser_Chấn_CNC_Hàn.webp" class="d-block w-100" alt="carousel-2">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Laser_và_chấn.webp" class="d-block w-100" alt="carousel-3">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Máy_Laser_1500x3000.webp" class="d-block w-100" alt="carousel-4">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                <p>Cắt Lazer</p>
            </h1>
            <h1 class="subtitle">Gia Công Cắt Lazer</h1>
            <p class="my-3 lh-base">Hiện nay, trên thế giới nhu cầu gia công cắt Lazer khá phổ biến, hệ thống cắt laser thay thế hầu hết các phương pháp cắt thủ công. Hệ thống máy cắt laser có thể gia công được trên các loại vật liệu như: Inox, thép, nhôm,…Đặc biệt, được sử dụng rộng rãi trong ngành chế tác kim loại tấm.</p>
            <h1 class="subtitle">Cắt Lazer CNC là gì?</h1>
            <p class="my-3 lh-base">Cắt lazer còn được gọi là cắt lazer CNC, là một quá trình cắt nhiệt thường xuyên được sử dụng trong gia công kim loại tấm.</p>
            <p class="my-3 lh-base">Cắt lazer sử dụng chùm tia laser tập trung, công suất cao để đánh dấu, cắt hoặc khắc vật liệu để tạo thành các hình dạng tùy chỉnh. Thiết kế và hoạt động độc đáo của nó làm cho nó có độ chính xác cao, đặc biệt là khi cắt các hình dạng phức tạp và các lỗ nhỏ.</p>
            <h1 class="subtitle">Lợi ích của việc cắt laser kim loại</h1>
            <p class="my-3 lh-base">Những lợi ích của việc sử dụng dịch vụ cắt lazer kim loại tấm là rất nhiều và bao gồm:</p>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">Khả năng cắt laser tốc độ cao trên nhôm, thép nhẹ, thép mạ kẽm, Inox, đồng</li>
                <li class="my-1 lh-base">Không cần mài hoặc hoàn thiện ngay cả khi cắt vật liệu dày</li>
                <li class="my-1 lh-base">Không cần đổi công cụ cho từng vết cắt riêng biệt được thực hiện bằng máy cắt lazer</li>
                <li class="my-1 lh-base">Đầu lazer cho phép cấp độ chính xác cao hơn so với các phương pháp nhiệt khác như cắt plasma</li>
                <li class="my-1 lh-base">Khả năng tạo ra các chi tiết phức tạp, khắc hoặc đánh dấu</li>
                <li class="my-1 lh-base">Khả năng tạo ra các hình dạng phức tạp với chi phí hợp lý</li>
                <li class="my-1 lh-base">Có thể đạt được dung sai +/- 0,1mm ở các độ dày vật liệu khác nhau</li>
                <li class="my-1 lh-base">Giảm biến dạng nhiệt cục bộ</li>
                <li class="my-1 lh-base">So với quy trình cắt cơ học, lazer cho phép sản xuất sản phẩm nhanh hơn và không cần gia công hậu kỳ trên lưỡi cắt</li>
            </ul>
            <h1 class="subtitle">Lý do bạn nên chọn gia công cắt laser tại <span class="text-primary">SHINZEN</span>:</h1>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">Gia công cắt lazer tại SHINZEN đảm bảo các chi tiết được gia công chính xác bằng các trang thiết bị hiện đại.</li>
                <li class="my-1 lh-base">Chúng tôi nhận cắt lazer thép, inox, nhôm, đồng... Theo yêu cầu của khách hàng với số lượng lớn trong thời gian ngắn.</li>
                <li class="my-1 lh-base">Gia công được các chi tiết khó, có độ phức tạp cao mà vẫn đảm bảo độ chính xác.</li>
                <li class="my-1 lh-base">Với nhiều loại máy cắt lazer lớn nhỏ khác nhau chúng tôi có thể gia công được nhiều sản phẩm như: inox, thép, kim loại tấm,... Và nhiều sản phẩm khác.</li>
                <li class="my-1 lh-base">Các sản phẩm khi đến tay khách hàng đảm bảo độ đồng nhất, không lỗi, hỏng.</li>
                <li class="my-1 lh-base">Đội ngũ kỹ sư có trình độ cao, giàu kinh nghiệm sẽ tạo ra các sản phẩm theo đúng yêu cầu kỹ thuật, đáp ứng yêu cầu của khách hàng.</li>
                <li class="my-1 lh-base">Khi gia công với số lượng lớn sẽ có nhiều ưu đãi vượt trội.</li>
            </ul>
            </p>
            <section class="my-5">
                <div class="contact_container">
                    <div class="contact_inner_container">
                        <p class="lh-base text-white align-middle">Nếu Bạn Cần Nhà Cung Cấp Dịch Vụ <span
                                class="fw-semibold">Đáng Tin Cậy</span>?</p>
                        <button class="btn btn-warning text-primary ms-2 fs-5">Liên hệ chúng tôi</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 36 Khu Garland - Phước Điền, 72 Dương Đình Hội, Phường Phước Long B,
                    TP.Thủ
                    Đức, TP.HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="footer_nav_item-active lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="container h-100">
        <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
            <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
            <ul class="d-flex">
                <a class="text-center" href="/privacy-policy">
                    <li>Điều khoản sử dụng</li>
                </a>
                <a class="text-center" href="/privacy-policy">
                    <li>Quyền riêng tư</li>
                </a>
                <a class="text-center" href="/privacy-policy">
                    <li>Chính sách cookie</li>
                </a>
            </ul>
        </div>
    </div>
</div>