<div class="container">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/services/onsite-mechanical-repair" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png" alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item hidden_nav_item-active" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item" href="/product-showcases/">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item nav_item-active" href="/services">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item" href="/about-us">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Gia Công Cơ Khí, Sửa Chửa Onside</h1>
    </div>
    <div class="main_container">
        <div class="side_container">
            <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                <p>Dịch vụ</p>
            </h1>
            <ul class="side_nav">
                <a href="/services/shearing">
                    <li class="side_nav_item" title="Gia Công Khuôn Mẫu Kim Loại">
                        <img src="/images/icons/shearing.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm lh-sm">Gia Công Khuôn Mẫu</p>
                    </li>
                </a>
                <a href="/services/stamping">
                    <li class="side_nav_item" title="Dập">
                        <img src="/images/icons/stamping.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Dập</p>
                    </li>
                </a>
                <a href="/services/cnc-bending">
                    <li class="side_nav_item" title="Chấn CNC">
                        <img src="/images/icons/forming-rolling-1.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Chấn CNC</p>
                    </li>
                </a>
                <a href="/services/lazer-cutting">
                    <li class="side_nav_item" title="Cắt Lazer(Ống, Kim Loại Tấm)">
                        <img src="/images/icons/laser-cutting.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Cắt Lazer</p>
                    </li>
                </a>
                <a href="/services/welding">
                    <li class="side_nav_item" title="Hàn">
                        <img src="/images/icons/welding.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Hàn, Hàn Robot</p>
                    </li>
                </a>
                <a href="/services/onsite-mechanical-repair">
                    <li class="side_nav_item side_nav_item-active" title="Gia Công Cơ Khí, Sửa Chửa Onside">
                        <img src="/images/icons/machining.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Gia Công Cơ Khí, Sửa Chửa Onside</p>
                    </li>
                </a>
            </ul>
            <div id="contact_section">
                <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                    <p>Thông tin doanh nghiệp</p>
                </h1>
                <ul>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <p class="flex-fill p-2">Số 36 Khu Garland - Phước Điền, 72 Dương Đình Hội, Phường Phước Long B,
                            Quận 9, TP.HCM</p>
                    </li>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <p class="flex-fill p-2">0888828825</p>
                    </li>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <p class="flex-fill p-2">cokhinhatnam.info@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_content_container">
            <div id="carousel" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/services/GC-CK1.webp" class="d-block w-100" alt="carousel-1">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/GC-CK-Onside.webp" class="d-block w-100" alt="carousel-2">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Cắt_Laser_Chấn_CNC.webp" class="d-block w-100" alt="carousel-3">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Hàng_Kết_Cấu_Mạ_Kẽm_Kiểm_Tra_QC.webp" class="d-block w-100" alt="carousel-4">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Cắt_Laser_Chấn_CNC_Hàn.webp" class="d-block w-100" alt="carousel-5">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                <p>Gia Công Cơ Khí, Sửa Chửa Onside</p>
            </h1>
            <h1 class="subtitle">Gia công cơ khí là gì?</h1>
            <p class="my-3 lh-base">Gia công cơ khí là quá trình chế tạo hoặc sản xuất các chi tiết có độ chính xác từ những vật liệu như sắt, thép, inox,… Những chi tiết được gia công này thường được ứng dụng rộng rãi trong đời sống hoặc dùng cho các hoạt động chế tạo khác. Quá trình này bao gồm các giai đoạn từ thiết kế ban đầu, gia công, lắp ráp và hoàn thiện sản phẩm cuối cùng.</p>
            <p class="my-3 lh-base">Từ các các dụng cụ cơ khí đến máy móc hiện đại đều bắt nguồn từ cơ khí, từ các sản phẩm cơ khí chế tạo. Tuy nhiên do thời gian hay điều kiện làm việc, môi trường làm việc mà một số chi tiết, thiết bị bị hỏng hóc hoặc có xu hướng bị gãy nứt, vỡ. Điều này có thể ảnh hưởng đến hiệu quả làm việc và tính năng sử dụng của máy. Vì vậy,  dịch vụ sửa chữa máy móc cơ khí là ngành hết sức quan trọng cho nền công nghiệp. Nhằm đảm bảo hoạt động của các thiết bị máy móc liên tục và thời gian ngừng máy là ngắn nhất.</p>        
            <p class="my-3 lh-base"><span class="text-primary">SHINZEN</span> nhận gia công các sản phẩm cơ khí, Sửa chữa, bảo trì onside các loại máy móc day chuyền (cán thép, nhà máy giấy, xi măng…)</p>
            <section class="my-5">
                <div class="contact_container">
                    <div class="contact_inner_container">
                        <p class="lh-base text-white align-middle">Nếu Bạn Cần Nhà Cung Cấp Dịch Vụ <span
                                class="fw-semibold">Đáng Tin Cậy</span>?</p>
                        <button class="btn btn-warning text-primary ms-2 fs-5">Liên hệ chúng tôi</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 36 Khu Garland - Phước Điền, 72 Dương Đình Hội, Phường Phước Long B,
                    TP.Thủ
                    Đức, TP.HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="footer_nav_item-active lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="container h-100">
        <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
            <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
            <ul class="d-flex">
                <a class="text-center" href="/privacy-policy">
                    <li>Điều khoản sử dụng</li>
                </a>
                <a class="text-center" href="/privacy-policy">
                    <li>Quyền riêng tư</li>
                </a>
                <a class="text-center" href="/privacy-policy">
                    <li>Chính sách cookie</li>
                </a>
            </ul>
        </div>
    </div>
</div>