<div class="container">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/privacy-policy" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png"
                        alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item" href="/services">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item" href="/about-us/">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Chính Sách Bảo Mật</h1>
    </div>
    <div class="my-4">
        <div class="mb-3">
            <h1 class="fs-4 fw-semibold">Giới Thiệu</h1>
            <p class="my-2 lh-base">Chào mừng bạn đến với trang web Shinzen.vn . Chúng tôi cam kết bảo vệ thông tin cá
                nhân của bạn và duy trì mức độ tin cậy cao nhất.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Thu Thập Thông Tin Cá Nhân</h1>
            <p class="my-3 lh-base">Chúng tôi có thể thu thập thông tin cá nhân từ người dùng khi họ tương tác với trang
                web chúng tôi. Thông tin này có thể bao gồm, nhưng không giới hạn, tên, địa chỉ email, số điện thoại,
                địa chỉ địa lý, và thông tin về dịch vụ cơ khí yêu cầu.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Sử Dụng Thông Tin</h1>
            <p class="my-3 lh-base">Chúng tôi sử dụng thông tin cá nhân thu thập để cung cấp, duy trì, và cải thiện dịch
                vụ cơ khí của chúng tôi. Thông tin này cũng có thể được sử dụng để liên lạc với bạn liên quan đến các
                thông báo quan trọng về dịch vụ và tư vấn.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Bảo Mật Thông Tin</h1>
            <p class="my-3 lh-base">Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn và thực hiện biện pháp an ninh
                phù hợp để ngăn chặn truy cập trái phép, tiếp cận, sử dụng, tiết lộ, hoặc hủy hoại thông tin cá nhân.
            </p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Chia Sẻ Thông Tin</h1>
            <p class="my-3 lh-base">Chúng tôi có thể chia sẻ thông tin cá nhân của bạn với các đối tác kinh doanh của
                chúng tôi chỉ khi cần thiết để cung cấp dịch vụ và đáp ứng yêu cầu của bạn.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Cookie và Công Nghệ Theo Dõi</h1>
            <p class="my-3 lh-base">Trang web của chúng tôi có thể sử dụng cookie và công nghệ theo dõi để cung cấp trải
                nghiệm trực tuyến tốt nhất và thu thập thông tin về việc sử dụng trang web.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Quyền Lựa Chọn và Cập Nhật Thông Tin</h1>
            <p class="my-3 lh-base">Bạn có quyền lựa chọn không cung cấp thông tin cá nhân của mình và có thể cập nhật
                hoặc xóa thông tin đã cung cấp bất cứ lúc nào.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Sự Đồng Ý</h1>
            <p class="my-3 lh-base">Sử dụng trang web của chúng tôi đồng nghĩa với việc bạn đồng ý với các điều khoản
                của Chính Sách Bảo Mật này.</p>
        </div>
        <div class="my-3">
            <h1 class="fs-4 fw-semibold">Liên Hệ Chúng Tôi</h1>
            <p class="my-3 lh-base">Nếu bạn có bất kỳ câu hỏi hoặc ý kiến ​​nào liên quan đến Chính Sách Bảo Mật, vui
                lòng liên hệ với chúng tôi qua <a class="text-primary" href="tel:0888828825"
                    target="_blank">0888828825</a> hoặc <a class="text-primary"
                    href="mailto:cokhinhatnam.info@gmail.com" target="_blank">cokhinhatnam.info@gmail.com</a>.</p>
            <p class="my-3 lh-base">Chính Sách Bảo Mật này có thể được cập nhật điều chỉnh từ thời gian này sang thời
                gian khác, vì vậy bạn nên kiểm tra lại để đảm bảo bạn hiểu rõ nhất về cách thông tin cá nhân của bạn
                được quản lý.</p>
        </div>
    </div>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 88 Đường Liên Khu 1-2, Tổ 25, Xã Vĩnh Lộc B, Bình Chánh, HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
        <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
        <ul class="d-flex">
            <a class="text-center" href="/privacy-policy">
                <li>Điều khoản sử dụng</li>
            </a>
            <a class="text-center" href="/privacy-policy">
                <li>Quyền riêng tư</li>
            </a>
            <a class="text-center" href="/privacy-policy">
                <li>Chính sách cookie</li>
            </a>
        </ul>
    </div>
</div>