<div class="container position-relative">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/product-showcases" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png"
                        alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item hidden_nav_item-active" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item" href="/services/">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item nav_item-active" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item" href="/about-us">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Sản Phẩm</h1>
    </div>
    <div class="d-flex py-3 justify-content-end">
        <div class="input_container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Tìm Kiếm">
        </div>
    </div>
    <div class="product_container">
        <div class="product_item_container" data-label="BanLe" data-keywords="Bản Lề">
            <div class="product_img_container">
                <img class="product_item_img" src="/images/product/Ban_Le/Bản-Lề.webp" alt="product">
                <i class="fa-solid fa-magnifying-glass-plus icon"></i>
            </div>
            <div class="p-3 text-white fs-4 text-center">
                <h1>Bản Lề</h1>
            </div>
        </div>
        <div class="product_item_container" data-label="BatVNganhGo" data-keywords="Bát V Ngành Gỗ">
            <div class="product_img_container">
                <img class="product_item_img" src="/images/product/Bat_V_Nganh_Go/Bát-V-Ngành-Gỗ.webp"
                    alt="product">
                <i class="fa-solid fa-magnifying-glass-plus icon"></i>
            </div>
            <div class="p-3 text-white fs-4 text-center">
                <h1>Bát V Ngành Gỗ</h1>
            </div>
        </div>
    </div>
</div>
<div class="swiper slideshow_container" style="display: none;">
    <i class="fa-solid fa-xmark slider_close_icon"></i>
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 88 Đường Liên Khu 1-2, Tổ 25, Xã Vĩnh Lộc B, Bình Chánh, HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1 footer_nav_item-active" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
        <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
        <ul class="d-flex">
            <a class="text-center" href="/privacy-policy/">
                <li>Điều khoản sử dụng</li>
            </a>
            <a class="text-center" href="/privacy-policy/">
                <li>Quyền riêng tư</li>
            </a>
            <a class="text-center" href="/privacy-policy/">
                <li>Chính sách cookie</li>
            </a>
        </ul>
    </div>
</div>