<div class="container">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/recruitment-contact" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png" alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item hidden_nav_item-active" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item" href="/services">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item" href="/about-us">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item nav_item-active" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Tuyển Dụng & Liên Hệ</h1>
    </div>
    <h1 class="fs-4 fw-semibold my-4 title_decoration">
        <p>Cơ hội việc làm tại Công ty CP Cơ khí Shinzen</p>
    </h1>
    <form class="row mt-4 p-4 g-3 needs-validation border rounded border-primary" novalidate>
        <div class="col-md-6">
            <label for="fullname" class="form-label">Họ và tên:</label>
            <input name="name" type="text" class="form-control" id="fullname" required>
            <div class="invalid-feedback">Trường bắt buộc</div>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input name="email" type="email" class="form-control" id="email" required>
            <div class="invalid-feedback">Email không hợp lệ</div>
        </div>
        <div class="col-md-6">
            <label for="tel" class="form-label">Số điện thoại:</label>
            <input name="tel" type="tel" class="form-control" id="tel" required>
            <div class="invalid-feedback">Số điện thoại không hợp lệ</div>
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Địa chỉ:</label>
            <input name="address" type="text" class="form-control" id="address">
        </div>
        <div class="col-md-6">
            <label for="cv" class="form-label">Hồ sơ xin việc:</label>
            <input name="cv" type="file" class="form-control" id="cv" required>
            <div class="invalid-feedback">Trường bắt buộc</div>
        </div>
        <div class="col-md-6">
            <label for="cv" class="form-label">Vị trí ứng tuyển:</label>
            <select name="position" class="form-select" aria-label="Default select example">
                <option value="Quản đốc/ Quản lý nhà máy">Quản đốc/ Quản lý nhà máy</option>
                <option value="Văn thư / Nhân sự">Văn thư / Nhân sự</option>
                <option value="Kỹ sư cơ khí">Kỹ sư cơ khí</option>
                <option value="Bán hàng / Chăm sóc khách hàng">Bán hàng / Chăm sóc khách hàng</option>
                <option value="Thợ cơ khí">Thợ cơ khí</option>
                <option value="Thợ sơn">Thợ sơn</option>
            </select>
            <div class="invalid-feedback">Trường bắt buộc</div>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Gửi</button>
        </div>
    </form>
    <h1 class="fs-4 fw-semibold my-4 title_decoration">
        <p>Thông Tin Liên Hệ</p>
    </h1>
    <section>
        <p class="lh-base fs-18px my-1">Địa chỉ văn phòng: 670, Tân Kỳ Tân Quý, Phường Bình Hưng Hoà Quận Bình Tân, HCM
        </p>
        <p class="lh-base fs-18px my-1">Địa chỉ nhà máy: Số 88 Đường Liên Khu 1-2, Tổ 25, Xã Vĩnh Lộc B, Bình Chánh, HCM
        </p>
        <p class="lh-base fs-18px my-1">Tel: 0888828825</p>
        <p class="lh-base fs-18px my-1">Email: shinzenmechanical.info@gmail.com</p>
        <iframe id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.8110996656438!2d106.60613872843717!3d10.792584316715033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c0ac3d88183%3A0xf0488d19f40012ea!2sC%C3%B4ng%20Ty%20Tnhh%20Shinzen%20Mechanical!5e0!3m2!1svi!2s!4v1709643714981!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 88 Đường Liên Khu 1-2, Tổ 25, Xã Vĩnh Lộc B, Bình Chánh, HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1 footer_nav_item-active" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
        <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
        <ul class="d-flex">
            <a class="text-center" href="/privacy-policy">
                <li>Điều khoản sử dụng</li>
            </a>
            <a class="text-center" href="/privacy-policy">
                <li>Quyền riêng tư</li>
            </a>
            <a class="text-center" href="/privacy-policy">
                <li>Chính sách cookie</li>
            </a>
        </ul>
    </div>
</div>