<div class="container">
    <header class="header">
        <a href="/" title="shinzenmechanical">
            <img class="h-100 w-auto" src="/images/logo/logo.png" alt="logo">
        </a>
        <div class="nav_icon_wrap">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center sub_nav_container">
            <div class="btn-group me-3" role="group" aria-label="contact">
                <a href="mailto:shinzenmechanical.info@gmail.com" class="btn btn-primary me-2px"
                    target="_blank">shinzenmechanical.info@gmail.com</a>
                <a href="tel:0888828825" class="btn btn-primary" target="_blank">(+84) 0888 82 88 25</a>
            </div>
            <div class="header_icon_container">
                <a href="/services/stamping" title="Tiếng Việt (vi)">
                    <img class="header_icon header_icon-active" src="/images/icons/vietnam.png" alt="vn-icon">
                </a>
                <a href="" title="English (en)">
                    <img class="header_icon" src="/images/icons/united-kingdom.png" alt="uk-icon">
                </a>
                <a href="" title="日本語 (ja)">
                    <img class="header_icon" src="/images/icons/japan.png" alt="=ja-icon">
                </a>
            </div>
        </div>
        <nav class="hidden_nav">
            <ul class="h-100 p-4">
                <a class="hidden_nav_item" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="hidden_nav_item hidden_nav_item-active" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="hidden_nav_item" href="/product-showcases/">
                    <li>Sản Phẩm</li>
                </a>
                <a class="hidden_nav_item" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="hidden_nav_item" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="hidden_nav_item" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <nav class="main_nav">
        <ul class="d-flex h-100">
            <a class="nav_item" href="/">
                <li>Trang Chủ</li>
            </a>
            <a class="nav_item nav_item-active" href="/services">
                <li>Dịch Vụ</li>
            </a>
            <a class="nav_item" href="/product-showcases">
                <li>Sản Phẩm</li>
            </a>
            <a class="nav_item" href="/about-us">
                <li>Giới Thiệu</li>
            </a>
            <a class="nav_item" href="/about-factory">
                <li>Nhà Máy</li>
            </a>
            <a class="nav_item" href="/recruitment-contact">
                <li>Tuyển Dụng & Liên Hệ</li>
            </a>
        </ul>
    </nav>
    <div class="banner_container">
        <h1>Dập</h1>
    </div>
    <div class="main_container">
        <div class="side_container">
            <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                <p>Dịch vụ</p>
            </h1>
            <ul class="side_nav">
                <a href="/services/shearing">
                    <li class="side_nav_item" title="Gia Công Khuôn Mẫu Kim Loại">
                        <img src="/images/icons/shearing.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm lh-sm">Gia Công Khuôn Mẫu</p>
                    </li>
                </a>
                <a href="/services/stamping">
                    <li class="side_nav_item side_nav_item-active" title="Dập">
                        <img src="/images/icons/stamping.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Dập</p>
                    </li>
                </a>
                <a href="/services/cnc-bending">
                    <li class="side_nav_item" title="Chấn CNC">
                        <img src="/images/icons/forming-rolling-1.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Chấn CNC</p>
                    </li>
                </a>
                <a href="/services/lazer-cutting">
                    <li class="side_nav_item" title="Cắt Lazer(Ống, Kim Loại Tấm)">
                        <img src="/images/icons/laser-cutting.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Cắt Lazer</p>
                    </li>
                </a>
                <a href="/services/welding">
                    <li class="side_nav_item" title="Hàn">
                        <img src="/images/icons/welding.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Hàn, Hàn Robot</p>
                    </li>
                </a>
                <a href="/services/onsite-mechanical-repair">
                    <li class="side_nav_item" title="Gia Công Cơ Khí, Sửa Chửa Onside">
                        <img src="/images/icons/machining.png" height="32" width="32" alt="icon">
                        <p class="text-center fw-semibold lh-sm">Gia Công Cơ Khí, Sửa Chửa Onside</p>
                    </li>
                </a>
            </ul>
            <div id="contact_section">
                <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                    <p>Thông tin doanh nghiệp</p>
                </h1>
                <ul>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <p class="flex-fill p-2">Số 36 Khu Garland - Phước Điền, 72 Dương Đình Hội, Phường Phước Long B,
                            Quận 9, TP.HCM</p>
                    </li>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <p class="flex-fill p-2">0888828825</p>
                    </li>
                    <li class="info_container">
                        <div class="info_icon_container">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <p class="flex-fill p-2">cokhinhatnam.info@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_content_container">
            <div id="carousel" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/services/KV_máy_Dập_10_Máy_(20-110Ton).webp" class="d-block w-100" alt="carousel-1">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Máy_Dập.webp" class="d-block w-100" alt="carousel-2">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Máy_Dập_1.webp" class="d-block w-100" alt="carousel-3">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Máy_Thuỷ_lực_350Ton&100Ton.webp" class="d-block w-100" alt="carousel-4">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/services/Máy_Thuỷ_Lực_350Ton.webp" class="d-block w-100" alt="carousel-5">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <h1 class="fs-4 fw-semibold mb-4 title_decoration">
                <p>Dập</p>
            </h1>
            <h1 class="subtitle">Khuôn mẫu Dập Kim Loại là gì?</h1>
            <p class="my-3 lh-base">Khuôn mẫu Dập Kim Loại là một dụng cụ đặc biệt bao gồm nhiều bộ phận và các chi tiết được lắp ghép thành một tổ hợp, nhằm thực hiện một hoặc một số nguyên công trên những thiết bị thích hợp tạo ra một hoặc một số chi tiết có hình dạng và kích thước cần thiết bằng cách làm cho vật liệu bị biến dạng dẻo như uốn, ép, dập vuốt.. hoặc bị biến dạng phá hủy như cắt đột…</p>
            <h1 class="subtitle">Khuôn đột dập là gì?</h1>
            <p class="my-3 lh-base">Khuôn đột dập là một loại dụng cụ sử dụng trong gia công đột dập. Có công dụng để tạo hình sản phẩm từ các tấm kim loại mỏng ở trạng thái nguội dưới tác dụng của áp lực.</p>
            <p class="my-3 lh-base">Cấu tạo khuôn đột dập:</p>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">Khuôn trên(chày): Là phần trên của khuôn, được gắn với búa, chuyển động lên xuống để tạo ra áp lực lên tấm phôi.</li>
                <li class="my-1 lh-base">Khuôn dưới(cối): Là phần khuôn dưới được giữ cố định.</li>
            </ul>
            <h1 class="subtitle">Phân loại khuôn đột dập</h1>
            <p class="my-3 lh-base">Dựa theo loại đột dập ta có 2 loại khuôn:</p>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">Khuôn cắt: Loại khuôn này được sử dụng để cắt kim loại thực hiện các hoạt động đột và cắt.</li>
                <li class="my-1 lh-base">Khuôn dập: Loại khuôn này có tác dụng làm thay đổi hình dạng phôi mà không loại bỏ phần vật liệu nào của phôi.</li>
            </ul>
            <p class="my-3 lh-base">Dựa theo phương pháp đột dập:</p>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">Khuôn đột dập đơn giản</li>
                <li class="my-1 lh-base">Khuôn dập thành phần</li>
                <li class="my-1 lh-base">Khuôn dập phối hợp</li>
                <li class="my-1 lh-base">Khuôn dập liên hoàn</li>
            </ul>
            <h1 class="subtitle">Vật liệu làm khuôn dập</h1>
            <p class="my-3 lh-base">Vật liệu làm khuôn đột dập có ảnh hưởng đến chất lượng và tuổi thọ của khuôn. Các loại thép thường được sử dụng để làm khuôn đột dập là:</p>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">SKS3: Độ cứng sau khi nhiệt luyện rất ổn định, hiệu suất cắt, dập chấn rất tốt. Hạn chế tối đa sự biến dạng của khuôn sau khi nhiệt luyện.</li>
                <li class="my-1 lh-base">SKS93: Thép Cabon cao dùng cho sản lượng sản xuất nhỏ. Dễ gia công , tôi trong dầu dễ nhiệt luyện.</li>
                <li class="my-1 lh-base">SKD11: Thép làm khuôn đột dập với độ chống mài mòn cao ở môi trường nhiệt độ thông thường. Độ thấm tôi tốt và ứng suất tôi thấp nhất giúp nâng cao độ cứng và chất lượng bề mặt, và đồng thời hạn chế cong vênh khi gia công.</li>
                <li class="my-1 lh-base">DC53: Độ chống mài mòn rất tốt.Độ biến dạng rất ít sau khi xử lý nhiệt. Khả năng gia công tốt và tính hàn tốt hơn so với SKD11.</li>
            </ul>
            <p class="my-3 lh-base">Tiêu chuẩn chất lượng gia công khuôn đột dập:</p>
            <ul style="list-style: inside;">
                <li class="my-1 lh-base">Gia công khuôn đột dập phải đảm bảo có tính chống mòn cao.</li>
                <li class="my-1 lh-base">Khuôn dập có độ cứng và độ dẻo phù hợp với chức năng khuôn (Ví dụ: Khuôn đột dập có độ cứng thấp hơn khuôn dập vuốt).</li>
                <li class="my-1 lh-base">Vật liệu làm khuôn phải tương thích với vật liệu sản phẩm dập và sản lượng.</li>
                <li class="my-1 lh-base">Đảm bảo chế độ bôi trơn khi dập.</li>
            </ul>
            <p class="my-3 lh-base">Các yêu cầu cơ tính của khuôn: độ bền, độ cứng, khả năng chống mài mòn là các đặc trưng quyết định tính chất của khuôn, làm tăng tuổi thọ của khuôn.</p>
            <p class="my-3 lh-base"><span class="text-primary">SHINZEN</span> nhận gia công khuôn đột dập theo yêu cầu nhanh và chính xác, Gia công Dập, Dập Liên Hoàn, Dập Vuốt, Dập Cắt với số lượng máy dập đa dạng, đời mới, từ 5-350ton.
            </p>
            <section class="my-5">
                <div class="contact_container">
                    <div class="contact_inner_container">
                        <p class="lh-base text-white align-middle">Nếu Bạn Cần Nhà Cung Cấp Dịch Vụ <span
                                class="fw-semibold">Đáng Tin Cậy</span>?</p>
                        <button class="btn btn-warning text-primary ms-2 fs-5">Liên hệ chúng tôi</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="footer_container">
            <a class="d-flex justify-content-center mb-3" href="/" title="shinzenmechanical">
                <img class="footer_logo" src="/images/logo/logo.png" alt="logo" loading="lazy">
            </a>
            <div class="mb-3">
                <p class="lh-base">Địa chỉ: Số 36 Khu Garland - Phước Điền, 72 Dương Đình Hội, Phường Phước Long B,
                    TP.Thủ
                    Đức, TP.HCM</p>
            </div>
            <div class="mb-3">
                <p><span class="fw-semibold lh-base">Email</span>: shinzenmechanical.info@gmail.com</p>
                <p><span class="fw-semibold lh-base">Điện thoại</span>: 0888828825</p>
                <p><span class="fw-semibold lh-base">Mã số thuế</span>: 0313681357</p>
            </div>
        </div>
        <div class="footer_nav">
            <ul class="d-flex justify-content-center flex-wrap">
                <a class="lh-base mx-1" href="/">
                    <li>Trang Chủ</li>
                </a>
                <a class="footer_nav_item-active lh-base mx-1" href="/services">
                    <li>Dịch Vụ</li>
                </a>
                <a class="lh-base mx-1" href="/product-showcases">
                    <li>Sản Phẩm</li>
                </a>
                <a class="lh-base mx-1" href="/about-us">
                    <li>Giới Thiệu</li>
                </a>
                <a class="lh-base mx-1" href="/about-factory">
                    <li>Nhà Máy</li>
                </a>
                <a class="lh-base mx-1" href="/recruitment-contact">
                    <li>Tuyển Dụng & Liên Hệ</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<div class="sub_footer">
    <div class="container h-100">
        <div class="d-flex h-100 justify-content-md-between align-items-center flex-wrap">
            <p class="flex_mb_grow-1 text_mb-center mb-3">© Shinzen Mechanical</p>
            <ul class="d-flex">
                <a class="text-center" href="/privacy-policy">
                    <li>Điều khoản sử dụng</li>
                </a>
                <a class="text-center" href="/privacy-policy">
                    <li>Quyền riêng tư</li>
                </a>
                <a class="text-center" href="/privacy-policy">
                    <li>Chính sách cookie</li>
                </a>
            </ul>
        </div>
    </div>
</div>